
/* ----------Global Setup Layout---------- */

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background-color: ghostwhite;
	color: #5F5F5F;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}


/* ----------Clear Fix for Divs---------- */
/*Add the class after divs, sections, ul etc (in the html file) intuitively whilst 
paying close attention to page behavior via browser sync or live preview.*/

.clearfix {zoom: 1}
.clearfix {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	/*visibility: hidden;*/
}


/* ----------Recyclable Code---------- */
.row {
	max-width: 1140px;
	margin: 0 auto;
}

section {
	padding: 80px 0;
}

.sanduku {
	padding: 1%;
}


/* ----------Heading---------- */
h1,
h2,
h3 {
	font-weight: 300;
	text-transform: uppercase;
	
	
}

h1 {
	margin: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 240%;
	word-spacing: 4px;
	letter-spacing: 1px;
}

h2 {
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

h3 {
	font-size: 110%;
	margin-bottom: 15px;
}

h2:after {
	display: block;
	height: 2px;
	background-color: orange;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}

/* ----------Paragraphs---------- */

.long-copy {
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
}

/* ----------Icons---------- */

.icon-noma {
	font-size: 350%;
	display: block;
	color: #e67e22;
	margin-bottom: 10px;
}

.icon-ndogo {
	display: inline-block;
	width: 30px;
	text-align: center;
	color: #e67e22;
	font-size: 120%;
	margin-right: 10px;
	line-height: 120%;
	vertical-align: middle; 
	margin-top: -4px;

}

.icon-mtandao {
	display: inline-block;
	width: 30px;
	text-align: center;
	font-size: 120%;
	color: #2B6EFEFF;
	margin-right: 10px;
	/*Cool way to align!*/
	line-height: 120%;
	vertical-align: middle; 
	margin-top: -2px;

}

/* ----------Generic Links---------- */


a:link,
a:active {
	color: #2B6EFEFF;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #e67e22;
	transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
	color: #555;
	border-bottom: 1px solid transparent;
}

.sanduku p {
	font-size: 90%;
	line-height: 145%;
}


/* ----------Buttons---------- */
.bonyeza:link,
.bonyeza:visited {
	margin-top: 0;
	margin-bottom: 20px;
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	color: #fff;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.bonyeza-yote:link,
.bonyeza-yote:visited {
	background-color: #e67e22;
	border: 1px solid #e67e22;
	color: #fff;
	margin-right: 15px;
}


.bonyeza-roho:link,
.bonyeza-roho:visited {
	border: 1px solid #e67e22;
	color: #e67e22;
}

.bonyeza:hover,
.bonyeza:active {
	background-color: #cf6d17;
}


.bonyeza-yote:hover,
.bonyeza-yote:active {
	border: 1px solid #e67e22;
}


.bonyeza-roho:hover,
.bonyeza-roho:active {
	border: 1px solid #e67e22;
	color: #fff;
}



/* ---------------  Header -------------- */

#header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(img/mango_background.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
}

.embe-text-box {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logo {
	height: 100px;
	width: auto;
	float: left;
	margin-top: 20px;
}

.main-nav {
	float: right;
	list-style: none;
	margin-top: 55px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
	padding: 8px, 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 2px solid #e67e22;
}

/* ---------------  Type Varieties -------------- */

.section-features .long-copy {
	margin-bottom: 30px;
}


/* ---------------  Varieties -------------- */

.section-varieties {
	padding: 0;
}

.types {
	list-style: none;
	width: 100%;
}

.types li {
	display: block;
	float: left;
	width: 25%;
}

.fruit-varieties {
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #000;
}

.fruit-varieties img {
	opacity: 0.7;
	width: 100%;
	height: auto;
	transform: scale(1.15);
	transition: transform 0.5s, opacity 0.5s;
}

.fruit-varieties img:hover {
	opacity: 1;
	transform: scale(1.03);
}

/* ---------------  App & Play Store-------------- */

.section-steps {
	background-color: #f4f4f4;
}

.steps-box:first-child {
	text-align: right;
	padding-right: 3%;  /*Percentage for fluid responsive design*/
	margin-top: 30px;
}

.steps-box:last-child {
	padding-left: 3%;
	margin-top: 70px;
}

.app-screen {
	width: 40%;
}

.works-step {
	margin-bottom: 50px;
}

.works-step:last-of-type {
	margin-bottom: 80px;
}

.works-step div {
	color: #e67e22;
	border: 2px solid #e67e22;
	display: inline-block;
	border-radius: 50%;
	height: 55px;
	width: 55px;
	text-align: center;
	padding: 5px;
	float: left;
	font-size: 150%;
	margin-right: 25px;
}

.bonyeza-app:link,
.bonyeza-app:visited {
	border: 0;
}

.bonyeza-app img {
	height: 50px;
	width: auto;
	margin-right: 10px;
}

/* ---------------  Counties-------------- */


.box img {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.city-feature {
	margin-bottom: 5px;
}


/* ---------------  Testimonials -------------- */

.section-testimonials {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(img/juice.jpg);
	background-size: cover;
	color: #fff;
	background-attachment: fixed;
}

blockquote {
	padding: 2%;
	font-style: italic;
	line-height: 145%;
	position: relative;
	margin-top: 40px;
}


blockquote:before {
	content: "\201C";
	font-size: 500%;
	display: block;
	position: absolute;
	top: -5px;
	left: -5px;
	}

cite {
	font-size: 90%;
	margin-top: 25px;
	display: block;
}


cite img {
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
	vertical-align: middle;
}




















