
/* ----------Global Setup Layout---------- */

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background-color: ghostwhite;
	color: #5F5F5F;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}

/* ----------Recyclable Code---------- */
.row {
	max-width: 1140px;
	margin: 0 auto;
}



/* ----------Heading---------- */
h1 {
	margin: 0;
	color: #fff;
	font-size: 240%;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 4px;
}

/* ----------Buttons---------- */
.bonyeza:link,
.bonyeza:visited {
	margin-top: 0;
	margin-bottom: 20px;
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	color: #fff;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.bonyeza-yote:link,
.bonyeza-yote:visited {
	background-color: #e67e22;
	border: 1px solid #e67e22;
	color: #fff;
	margin-right: 15px;
}


.bonyeza-roho:link,
.bonyeza-roho:visited {
	border: 1px solid #e67e22;
	color: #e67e22;
}

.bonyeza:hover,
.bonyeza:active {
	background-color: #cf6d17;
}


.bonyeza-yote:hover,
.bonyeza-yote:active {
	border: 1px solid #e67e22;
}


.bonyeza-roho:hover,
.bonyeza-roho:active {
	border: 1px solid #e67e22;
	color: #fff;
}



/* ---------------  Header -------------- */

#header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(img/mango_background.jpg);
	background-size: cover;
	background-position: center;;
	height: 100vh;
}

.embe-text-box {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logo {
	height: 100px;
	width: auto;
	float: left;
	margin-top: 20px;
}

.main-nav {
	float: right;
	list-style: none;
	margin-top: 55px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
	padding: 8px, 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 2px solid #e67e22;
}










